# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers OS
.DS_Store
Thumbs.db

# Fichiers de configuration d'execution
notebook_slurm_err.txt
notebook_slurm_out.txt
notebook.batch